@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

:root {
    --background: 245 50% 95%;
    --foreground: 245 22% 25%;
    --surface: 245 45% 90%;
    --overlay: 245 40% 85%;
    --muted: 245 13% 60%;
    --subtle: 245 23% 45%;
    --cursor: 2 55% 63%;
    --error: 343 76% 53%;
    --warning: 35 88% 52%;
    --success: 170 47% 43%;
    --selection-background: 245 25% 75%;
    --cursorline-background: 245 45% 90%;
    --radius: 0.05rem;
    --border: 240 3.7% 15.9%;
}

@media (prefers-color-scheme : dark) {
    :root {
        --background: 249 22% 12%;
        --foreground: 245 50% 91%;
        --surface: 247 23% 15%;
        --overlay: 248 25% 18%;
        --muted: 247 13% 40%;
        --subtle: 244 23% 55%;
        --cursor: 3 55% 83%;
        --error: 343 76% 73%;
        --warning: 35 88% 72%;
        --success: 170 57% 73%;
        --selection-background: 249 25% 25%;
        --cursorline-background: 247 23% 15%;
    }
}

.dark {
    --background: 249 22% 12%;
    --foreground: 245 50% 91%;
    --surface: 247 23% 15%;
    --overlay: 248 25% 18%;
    --muted: 247 13% 40%;
    --subtle: 244 23% 55%;
    --cursor: 3 55% 83%;
    --error: 343 76% 73%;
    --warning: 35 88% 72%;
    --success: 170 57% 73%;
    --selection-background: 249 25% 25%;
    --cursorline-background: 247 23% 15%;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    @font-face {
        font-family: terminal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/fira-regular.woff2') format('woff2'),
            url('/fonts/fira-regular.woff') format('woff');
    }
    @font-face {
        font-family: terminal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/fira-medium.woff2') format('woff2'),
            url('/fonts/fira-medium.woff') format('woff');
    }
    @font-face {
        font-family: terminal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/fira-bold.woff2') format('woff2'),
            url('/fonts/fira-bold.woff') format('woff');
    }
}

